<%- include('partials/header') %>

<div class="p-5 mb-4 bg-light rounded-3 shadow-sm">
  <div class="container-fluid py-4">
    <h1 class="display-5 fw-bold">Data Mahasiswa Berprestasi</h1>
    <p class="col-md-8 fs-5">
      Aplikasi ini dibuat untuk mendata mahasiswa yang ber-prestasi.
    </p>
    <a href="/students/create" class="btn btn-success btn-lg">Tambah Data</a>
    <a href="/students" class="btn btn-primary btn-lg">Lihat Data</a>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4 mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5>Halaman 1</h5>
        <p>Home / Dashboard</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5>Halaman 2</h5>
        <p>Form Input Data</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5>Halaman 3</h5>
        <p>Tabel Data + CRUD</p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>